spring:
  config:
    activate:
      on-profile: "prod"
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://sulsul-real-db.cmygx0mjyxpw.ap-northeast-2.rds.amazonaws.com:3306/sulsulDB?characterEncoding=UTF-8&serverTimezone=Asia/Seoul&allowMultiQueries=true&autoReconnection=true&characterEncoding=UTF-8
    username: root
    password: admin1234
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 0c67e7fe975454e2ece8b6d77efe298d
            scope:
              - profile_nickname
              - account_email
            redirect-uri: "https://api.beerair.ml/login/oauth2/code/kakao"
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            client-name: kakao
          naver:
            client-id: GcVDuQpzijLxjpihXQTL
            client-secret: JTM3XYwtTc
            redirect-uri: "https://api.beerair.ml/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
            client-name: naver
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response
  authentication:
    jwt:
      secretKey: 가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하
      accessTokenExpirationSecond: 25920000000 #18000 3sec #3600000 #25920000000 10 days
      refreshTokenExpirationSecond: 2592000000000 #1800000 5min # 86400000 1 days
    cookie:
      accessTokenCookieName: accessToken
      refreshTokenCookieName: refreshToken
swagger:
  url: https://api.beerair.ml
  desc: for prod usage
client:
  url: beerair.ml
