spring:
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_batch_fetch_size: 100
        show_sql: true
        format_sql: true
        time_zone: Asia/Seoul
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jackson:
    mapper:
      accept-case-insensitive-enums: true
cloud:
  aws:
    credentials:
      access-key: AKIAVPAOA5WKLKDZ5UFU
      secret-key: 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
    region:
      static: ap-northeast-2
    s3:
      bucket: sulsul-media-bucket
    stack:
      auto: false
      