spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 0c67e7fe975454e2ece8b6d77efe298d
            scope:
              - profile_nickname
              - account_email
            redirect-uri: "http://api-dev.beerair.ml/login/oauth2/code/kakao"
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            client-name: kakao
          naver:
            client-id: GcVDuQpzijLxjpihXQTL
            client-secret: JTM3XYwtTc
            redirect-uri: "http://api-dev.beerair.ml/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope:
              - name
              - email
            client-name: naver
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  jackson:
    mapper:
      accept-case-insensitive-enums: true
cloud:
  aws:
    credentials:
      access-key: AKIAVPAOA5WKLKDZ5UFU
      secret-key: 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
    region:
      static: ap-northeast-2
    s3:
      bucket: sulsul-media-bucket
    stack:
      auto: false
authentication:
  jwt:
    secretKey: 가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하가나다라마바사아자차카타파하
    accessTokenExpirationSecond: 3600000 #18000 3sec #3600000 1 hour
    refreshTokenExpirationSecond: 2592000000 #1800000 5min # 86400000 1 days
  cookie:
    accessTokenCookieName: accessToken
    refreshTokenCookieName: refreshToken