# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI with Gradle

on:
  push:
    branches: [ feature/ci-test ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # Actions Sequence
    - uses: actions/checkout@v3
    
    # Set JDK Version
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
    
    # Modify Permission
    - name: Build with Gradle
      run: chmod +x ./gradlew
#     - name: Test with Gradle # test application build
#       run: ./gradlew test

    # Build Gradle
    - name: Build with Gradle
      run: ./gradlew build -x test
    - name: Temporarily save build artifact
      uses: actions/upload-artifact@v3
      with:
        name: build-artifact
        path: build
        retention-days: 1
  
  docker:
    name: Deploy Docker Image
    runs-on: ubuntu-latest
    needs: build
    env:
      REPO: ${{ secrets.DOCKER_REPO }}
    steps:
    - uses: actions/checkout@v3
    - name: Retrieve built
      uses: actions/download-artifact@v3
      with:
        name: build-artifact
        path: build
        
    # Login DockerHub
    - name: Docker Hub Sign-in
      run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      
    # Build Docker Container
    - name: Docker image build and push
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: zeze1004/sulsul:latest 
